<?xml version="1.0"?>
<!--
/**
 * @author    AkStackPro
 * @copyright Copyright (c) 2026 AkStackPro (http://akstackpro.com/)
 * @package   AkStackPro_ShippingLabelIntegration
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="shippinglabelintegration" translate="label" type="text" sortOrder="30"
                 showInDefault="1" showInWebsite="0" showInStore="0">
            <label>UPS &amp; Endicia Web Services</label>
            <tab>akstackpro</tab>
            <resource>AkStackPro_ShippingLabelIntegration::configuration</resource>
            <group id="module_configuration" translate="label" sortOrder="10"
                   showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Module</label>
                    <comment>Enable or disable the shipping label integration.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="20"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Debug Logging</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment>When enabled, check var/log/system.log for additional details.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="endicia_config" translate="label" sortOrder="20"
                   showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Endicia Shipping Integration</label>
                <field id="endicia_api_endpoint" translate="label" type="text" sortOrder="10"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Shipping API Endpoint</label>
                    <validate>validate-url</validate>
                    <comment>Endicia shipping API endpoint URL.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="endicia_client_id" translate="label" type="obscure" sortOrder="20"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Client ID</label>
                    <comment>Your Endicia account client ID.</comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="endicia_secret_id" translate="label" type="obscure" sortOrder="30"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Secret ID</label>
                    <comment>Your Endicia account secret ID.</comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="endicia_refresh_token" translate="label" type="obscure" sortOrder="40"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Refresh Token</label>
                    <comment>Your Endicia OAuth refresh token.</comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="endicia_auth_url" translate="label" type="text" sortOrder="50"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Auth URL</label>
                    <validate>validate-url</validate>
                    <comment>Endicia OAuth authorization URL.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="endicia_access_token_url" translate="label" type="text" sortOrder="60"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Access Token URL</label>
                    <validate>validate-url</validate>
                    <comment>Endicia OAuth access token URL.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="endicia_callback_url" translate="label" type="text" sortOrder="70"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Callback URL</label>
                    <validate>validate-url</validate>
                    <comment>OAuth callback URL registered with Endicia.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="endicia_mail_classes" translate="label" type="multiselect" sortOrder="80"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Mail Classes</label>
                    <source_model>AkStackPro\ShippingLabelIntegration\Model\Config\Source\ConfigOption</source_model>
                    <comment>Select USPS service and package types available when creating shipments.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="ups_worldship_config" translate="label" sortOrder="30"
                   showInDefault="1" showInWebsite="0" showInStore="0">
                <label>UPS WorldShip Integration</label>
                <field id="ups_worldship_account_number" translate="label" type="text" sortOrder="10"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>UPS Account Number</label>
                    <comment>Your UPS account number.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="ups_worldship_api_endpoint" translate="label" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Shipping API Endpoint</label>
                    <validate>validate-url</validate>
                    <comment>UPS API endpoint URL.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="ups_worldship_client_id" translate="label" type="obscure" sortOrder="30"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Client ID</label>
                    <comment>Your UPS API client ID.</comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="ups_worldship_secret_id" translate="label" type="obscure" sortOrder="40"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Secret ID</label>
                    <comment>Your UPS API client secret.</comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="ups_worldship_access_token_url" translate="label" type="text" sortOrder="50"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Access Token URL</label>
                    <validate>validate-url</validate>
                    <comment>UPS OAuth access token URL.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
